@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

.mr-auto{
    position: relative;
    left: 25%;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    position: relative;
}

main{
    padding-bottom: 11.5rem;
    padding-top: 2rem;
}

.my-4 {
    margin-bottom: 0.8rem!important;
}

.h6 {
    font-size: 0.9rem;
    position: relative;
    top: 0px;
    right: 0px;
}
h6{
    margin-bottom: -13px;
}
img{
    height: 10vh;
    margin-bottom: -28px;
    margin-top: -28px;
    margin-left: -10px;
    padding: 5px;
}
.forms{
    position: relative;
    left: 54.5%;
    padding: 0px;
}

.forms:hover{
    cursor: pointer;
}
.log{
    margin:0;
    padding: 0;
}
.h-100{
    padding-bottom: 10px;
 }
 .logo{
    height: 45px;
    position: relative;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

/*------cart css-------*/
.cart-page{
    margin: 80px;
}
table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 60px;
    height: 30px;
    padding: 5px;
}
td a{
    color:#ff523b;
    font-size: 15px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
    padding-top: 20px;
}
.steps {
    margin-top: -41px;
    display: inline-block;
    float: right;
    font-size: 16px
}
.step {
    float: left;
    background: white;
    padding: 7px 13px;
    border-radius: 1px;
    text-align: center;
    width: 100px;
    position: relative
}
.step_line {
    margin: 0;
    width: 0;
    height: 0;
    border-left: 16px solid #fff;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    z-index: 1008;
    position: absolute;
    left: 99px;
    top: 1px
}
.step_line.backline {
    border-left: 20px solid #f7f7f7;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    z-index: 1006;
    position: absolute;
    left: 99px;
    top: -3px
}
.step_complete {
    background: #088178;
    color: white;
}
.step_complete a.check-bc, .step_complete a.check-bc:hover,.afix-1,.afix-1:hover{
    color:white;
}
.step_line.step_complete {
    background: 0;
    border-left: 16px solid #088178;
}


.step{
background-color: white !important;
}
.step.step_complete{
    background-color:  #088178 !important ;
}

#remForm button{
border: none !important;
background: none !important;
outline: none;
}

.ajax{
    margin-top: 50px;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 60px;
    height: 70px;
    padding-bottom: 18px;
}

#cart table td:nth-child(1){
    width:100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width:150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width:250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6),
#cart table td:nth-child(7){
    width:150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width:70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}

#subtotal h3{
    padding-bottom: 15px;
}


#subtotal{
    margin-top: 50px;
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
    margin-left: 25%;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border-bottom: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

#subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}