@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

html,
body,
.wrapper {
    background: #f7f7f7;
}

.steps {
    margin-top: -41px;
    display: inline-block;
    float: none;
    font-size: 16px
}

.step {
    float: left;
    background: white;
    padding: 7px 13px;
    border-radius: 1px;
    text-align: center;
    width: 100px;
    position: relative
}

.step_line {
    margin: 0;
    width: 0;
    height: 0;
    border-left: 16px solid #fff;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    z-index: 1008;
    position: absolute;
    left: 99px;
    top: 1px
}

.step_line.backline {
    border-left: 20px solid #f7f7f7;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    z-index: 1006;
    position: absolute;
    left: 99px;
    top: -3px
}

.step_complete {
    background: #088178;
    color: white;
}

.step_complete a.check-bc,
.step_complete a.check-bc:hover,
.afix-1,
.afix-1:hover {
    color: white;
}

.step_line.step_complete {
    background: 0;
    border-left: 16px solid #088178;
}

.step_thankyou {
    float: left;
    background: white;
    padding: 7px 13px;
    border-radius: 1px;
    text-align: center;
    width: 100px;
}

.step.check_step {
    margin-left: 5px;
}

.ch_pp {
    text-decoration: underline;
}

.ch_pp.sip {
    margin-left: 10px;
}

.check-bc,
.check-bc:hover {
    color: #222;
}

.SuccessField {
    border-color: #458845 !important;
    -webkit-box-shadow: 0 0 7px #9acc9a !important;
    -moz-box-shadow: 0 0 7px #9acc9a !important;
    box-shadow: 0 0 7px #9acc9a !important;
    background: #f9f9f9 url(../images/valid.png) no-repeat 98% center !important
}

.btn-xs {
    line-height: 28px;
}

/*login form*/
.login-container {
    margin-top: 30px;
}

.login-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.login-container input[type=text],
input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.login-container input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.login-container-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #ff523b;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
}

.login-container-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #ff523b;
}

.login-help {
    font-size: 12px;
}

.asterix {
    background: #f9f9f9 url(../images/red_asterisk.png) no-repeat 98% center !important;
}

/* images*/
ol,
ul {
    list-style: none;
}

.hand {
    cursor: pointer;
    cursor: pointer;
}

.cards {
    padding-left: 0;
}

.cards li {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    background-position: 0 0;
    float: left;
    height: 32px;
    margin-right: 8px;
    text-indent: -9999px;
    width: 51px;
}

.cards .mastercard {
    background-position: -51px 0;
}

.cards li {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    background-position: 0 0;
    float: left;
    height: 32px;
    margin-right: 8px;
    text-indent: -9999px;
    width: 51px;
}

.cards .amex {
    background-position: -102px 0;
}

.cards li {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    background-image: url('//c2.staticflickr.com/4/3713/20116660060_f1e51a5248_m.jpg');
    background-position: 0 0;
    float: left;
    height: 32px;
    margin-right: 8px;
    text-indent: -9999px;
    width: 51px;
}

.cards li:last-child {
    margin-right: 0;
}

/* images end */



/*
 * BOOTSTRAP
 */
.container {
    border: none;
}

.panel-footer {
    background: #fff;
}

.btn1 {
    border-radius: 1px;
    background-color: #088178;
    ;
    border-color: #088178;
    color: white;
}

.btn1:hover {
    background-color: hsl(176, 92%, 20%);
    border-color: hsl(176, 92%, 20%);
}

.btn-sm,
.btn-group-sm>.btn {
    border-radius: 1px;
}

.input-sm,
.form-horizontal .form-group-sm .form-control {
    border-radius: 1px;
}

.panel-info {
    border-color: #999;
}

.panel-heading {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

.panel {
    border-radius: 1px;
}

.panel-info>.panel-heading {
    color: #eee;
    border-color: #999;
}

.panel-info>.panel-heading {
    background-image: linear-gradient(to bottom, #555 0px, #888 100%);
}

hr {
    border-color: #999 -moz-use-text-color -moz-use-text-color;
}

.panel-footer {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top: 1px solid #999;
}

.btn-link {
    color: #888;
}

hr {
    margin-bottom: 10px;
    margin-top: 10px;
}

select {
    height: 30px !important;
}

.img-responsive {
    padding-left: 10px;
    height: 50px;
    align-items: left;
}

.product {
    height: 80px;
}

.product-info {
    text-align: center !important;
    bottom: 50px;
    position: relative;
}

.price {
    bottom: 50px;
    position: relative;
}

.form-horizontal {
    width: 100%;
}

.area {
    position: relative;
    width: 100%;
}

/** MEDIA QUERIES **/
@media only screen and (max-width: 989px) {
    .span1 {
        margin-bottom: 15px;
        clear: both;
    }
}

@media only screen and (max-width: 764px) {
    .inverse-1 {
        float: right;
    }
}

@media only screen and (max-width: 586px) {
    .cart-titles {
        display: none;
    }

    .panel {
        margin-bottom: 1px;
    }
}

.form-control {
    border-radius: 1px;
}

@media only screen and (max-width: 486px) {
    .col-xss-12 {
        width: 100%;
    }

    .cart-img-show {
        display: none;
    }

    .btn-submit-fix {
        width: 100%;
    }

}


/* Stripe */

.forms {
    width: 71.6vw;
    height: 50%;
    min-width: 500px;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
        0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
}

.hidden {
    display: none;
}

#payment-message {
    color: rgb(105, 115, 134);
    font-size: 16px;
    line-height: 20px;
    padding-top: 12px;
    text-align: center;
}

#payment-element {
    margin-bottom: 24px;
}

/* Buttons and links */
#payment-stripe button,
#payment-stripe span {
    background: #088178;
    color: #ffffff;
    border-radius: 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    font-family: 'Spartan', sans-serif;
    width: 100%;
}

#payment-stripe button:hover,
#payment-stripe span:hover {
    filter: contrast(115%);
}

#payment-stripe button:disabled,
#payment-stripe span:disabled {
    opacity: 0.5;
    cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
    border-radius: 50%;
}

.spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.spinner:before,
.spinner:after {
    position: absolute;
    content: "";
}

.spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: #0ec3b7;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    -webkit-transform-origin: 10.4px 10.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: #0ec3b7;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    -webkit-transform-origin: 0px 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    form {
        width: 80vw;
        min-width: initial;
    }
}