@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

#map {
    height: 300px;
    width: 400px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 11.5rem;
}
.mr-auto{
    position: relative;
    left: 25%;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    position: relative;
}

main{
    padding-bottom: 11.5rem;
    padding-top: 2rem;
}

.my-4 {
    margin-bottom: 0.8rem!important;
}

.h6 {
    font-size: 0.9rem;
    position: relative;
    top: 0px;
    right: 0px;
}
h6{
    margin-bottom: -13px;
}

img{
    height: 10vh;
    margin-bottom: -28px;
    margin-top: -28px;
    margin-left: -10px;
    padding: 5px;
}
.forms{
    position: relative;
    left: 55%;
    padding: 0px;
}

.forms:hover{
    cursor: pointer;
}
.log{
    margin:0;
    padding: 0;
}
.h-100{
    padding-bottom: 10px;
 }

 .logo{
    height: 45px;
    position: relative;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}
