/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: cursive;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

   /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(248, 248, 248, 0.807);
    color:black;
   }

.header-list a{
    color:#000;
}

ul > li{
    text-align: center;
}

.logo{
    padding-bottom: 10px;
    height: 8rem;
}

.cart-img{
    height: 40px;
    margin-bottom: -28px;
    margin-top: -28px;
    margin-left: -10px;
    padding: 5px;
}

.logout-img{
    height: 45px;
    margin-bottom: -28px;
    margin-top: -28px;
    margin-left: -10px;
    padding: 5px;
}
.login-img{
   
    height: 70px;
    margin-bottom: -28px;
    margin-top: -28px;
    margin-left: -10px;
    padding: 5px;
}

.menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover{
    background-color: rgba(239, 239, 239, 0.807);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li{
padding: 5px 14px;
}
/*products dropdown menu*/
.pruducts-dropdown{
    position: relative;
}

.dropdown{
    background-color: rgb(229, 229, 229);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
    z-index: 1;
}

.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #c5c7c7;
}
.pruducts-dropdown:hover .dropdown {
    display: block;
}

input[type=checkbox]{
    display: none;
} 

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
@media (max-width: 768px) {
    .menu { 
     display:none;
     position: absolute;
     background-color:rgb(230, 233, 233);
     right: 0;
     left: 0;
     text-align: center;
     padding: 16px 0;
    }
    .menu li:hover {
     display: inline-block;
     background-color:#dcdede;
     transition: 0.3s ease;
    }
    .menu li + li {
     margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
     display: block;
    }
    .hamburger {
     display: block;
    }
    .dropdown {
     left: 50%;
     top: 30px;
     transform: translateX(35%);
    }
    .dropdown li:hover {
     background-color: #e8eaea;
    }
}
 /* Cart notification */
  
  .notification .badge {
    position: relative;
    right: 12px;
    height: 15px;
    width: 25px;
    background: lightcoral;;  
    color: white;
  }