@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height:64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height:54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: rgb(3, 3, 3);
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;

  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10%;
  }

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

main{
    padding-bottom: 11.5rem;
    padding-top: 2rem;
}

.my-4 {
    margin-bottom: 0.8rem!important;
}

.h6 {
    font-size: 0.9rem;
    position: relative;
    top: 0px;
    right: 0px;
}
h6{
    margin-bottom: -13px;
}


.forms{
    position: relative;
    left: 54.5%;
    padding: 0px;
}

.forms:hover{
    cursor: pointer;
}
.log{
    margin:0;
    padding: 0;
}
.h-100{
    padding-bottom: 10px;
}

 .logo{
    height: 7rem;
    position: relative;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

#map {
    height: 300px;
    width: 400px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 11.5rem;
}

#hero{
    background-image: url("/img/background5.jpg");  
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: top 5% right 0;
    padding: 0 100px;
    padding-top: 45px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  #hero h4{
    padding-bottom: 15px;
  }
  
  #hero button{
    background-image: url("/img/button.jpg");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 8px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
  }

  #feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #feature .fe-box{
    width: 200px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0 , 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
   }

   #feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
   }

   #feature .fe-box img{
    width: 160px;
    height: 110px;
    margin-bottom: 10px;
   }


   #feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;   
    line-height: 1;
    border-radius: 4px;
    color:#088178;
    background-color: #fddde4;
   }

   #feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
   }

   #feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
   }

   #feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
   }

   #feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
   }

   #feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
   }

   #product1 {
    text-align:center;
   }

   #product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
   }

   #product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
   }

   #product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
   }

   #product1 .pro img{
    width: 210px;
    height: 160px; 
   }

   #product1 .pro .des{
    text-align: start;
    padding: 10px 0;
   }

   #product1 .pro .des span{
    color: #606063;
    font-size: 12px;
   }

   #product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
   }

   #product1 .pro .des i{
    color: rgba(243, 181, 25);
    font-size: 12px;
   }

   #product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#088178;
   }

   #product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 50px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right:10px;
   }

   #product1 .pro .cart:focus{
    outline: none;
   }

   #prodForm button:focus{
    outline: none;
   }

   #banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("/img/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
   }

   #banner h4{
    color: #fff;
    font-size: 16px;
   }

   #banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
   }
   
   #banner h2 span{
    color: #ef3636;
   }

   #banner button:hover{
    background-color: #088178;
    color: #fff;
   }

   #contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

   #contact-details .details{
    width: 40%;
   }

   #contact-details .details span{
    font-size: 12px;
   }

   #contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
   }

   #contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
   }

   #contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
   }

   #contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
   }

   #contact-details .details li p{
    margin: 0;
    font-size: 14px;
   }

   #contact-details #map{
    width: 55%;
    height: 400px;
    left: 55px;
    bottom: 40px;
   }