.small-img-group{
    display:flex;
    justify-self: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.sproduct select{
    display: block;
    padding: 5px 10px;;
}

.sproduct input {
    width: 40px;
    height: 30px;
    padding-left: 10px;
    font-size: 16px;
    margin-left: 10px;
}

.sproduct input:focus {
    outline: none;
}

.buy-btn {
    background-color: #fb774b;
    opacity: 1;
    transition: 0.3s all;
    width: 120px;
    height: 30px;
}