@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height:64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height:54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: rgb(3, 3, 3);
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

main{
    padding-bottom: 11.5rem;
    padding-top: 2rem;
}

.my-4 {
    margin-bottom: 0.8rem!important;
}

.h6 {
    font-size: 0.9rem;
    position: relative;
    top: 0px;
    right: 0px;
}
h6{
    margin-bottom: -13px;
}

.forms{
    position: relative;
    left: 54.5%;
    padding: 0px;
} 

.forms:hover{
    cursor: pointer;
}
.log{
    margin:0;
    padding: 0;
}
.h-100{
    padding-bottom: 10px;
}

 .logo{
    height: 7rem;
    position: relative;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

   #product1 {
    text-align:center;
   }

   #product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
   }

   #product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
   }

   #product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
   }

   #product1 .pro img{
    width: 210px;
    height: 160px;
   }

   #product1 .pro .des{
    text-align: start;
    padding: 10px 0;
   }

   #product1 .pro .des span{
    color: #606063;
    font-size: 12px;
   }

   #product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
   }

   #product1 .pro .des i{
    color: rgba(243, 181, 25);
    font-size: 12px;
   }

 

   #product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#088178;
   }

   #product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 50px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right:10px;
   } 

   #page-header{
    background-image: url("/img/b2.jpg");
    background-position: top 35% right 0;
    width: 100%;
    height: 30vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
   }

    #page-header p {
        margin-left: 80px;
    }

    #product1 .pro .cart:focus{
        outline: none;
    }
    
    #prodForm button:focus {
       outline: none;
    }
    
    .pagination {
       text-align: center;
       margin: 30px 30px 60px;
       user-select: none;
    }
    
    .pagination li {
        display: inline-block;
        margin: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
        color: #fff;
    }
    
    
    .pagination li a {
        text-decoration: none;
        font-size: 1.2rem;
        line-height: 35px;
        background: rgb(103, 103, 103);
    }

    .pagination li a:hover {
        background: #0ab1ce;
        color:#fff;
    }

    .previous-page,.next-page {
        background: #0ab1ce;
        width: 70px;
        border-radius: 45px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    
    .current-page,.dots {
        background: #ccc;
        width: 45px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .previous-page:hover{
        transform: translateX(-5px);
    }
    
    .next-page:hover {
        transform: translateX(5px);
    }
    
    .active {
        background: #0ab1ce;
    }
    
    .disable {
        background: #ccc;
    }

    .pagination li a, .pagination li span{
        float: none;
        border-radius: 45px;
    }

    :root{
        --gra: linear-gradient(45deg, cyan, royalblue);
    }

    .filtering .indicator,
    .filtering .filter-condition{
        width: 100%;
        height: 100px;
        border-bottom: 2px solid #e5e5e5;
        display: flex;
        align-items: center;
    }
    .filtering ul li{
        list-style: none;
        padding: 20px;
        margin: 10px;
        float: left;
        font-size: 20px;
        border-radius: 35px;
    }
    .filtering ul li a{
        color: inherit;
        text-decoration: none;
    }
    .filtering ul li.active{
        background: var(--gra);
    }
    .filtering ul li.active a{
        color: white;
        font-weight: bold;
    }

    .filtering{
        display: flex;
    }

    .filtering .filter-condition{
        display: inline-block;
        text-align: right;
        padding-top: 30px;
        height: 100px;
        font-size: 20px;
        font-weight: bold;
    }
    .filter-condition select{
        width: 250px;
        padding: 0 0 0 10px;
        border: none;
        outline: none;
        font-weight: bold;
        color: rgb(7, 56, 129);
        background: transparent;
        cursor: pointer;
    }

    .clickable{
       cursor: pointer !important; 
    }

    .invisible{
        display: none;
    }
    
    


    