.mr-auto{
    position: relative;
    left: 33%;
}
h6{
    margin-bottom: -13px;
}
h1{
    margin-bottom: 20px;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 11.5rem;
    flex-direction: column;
}
main{
    padding-bottom: 12.5rem;
    padding-top: 2rem;
}
img{
    height: 10vh;
    margin-bottom: -18px;
    margin-top: -18px;
    margin-left: -2px;
    margin-right: -2px;
}
.may{
    position: relative;
    left: 55%;
    
}
.may:hover{
    cursor: pointer;
}
.may2{
    margin:0;
    padding: 0;
}
.h-100{
    padding-bottom: 10px;
 }
 .card-img-top{
    height: 45vh;
 }
 #b .img-fluid{
    height: 35vh;
    width: 300px;
    
 }
 #b .card-body{
    font-family: 'Roboto', sans-serif;
 }