@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
}
h6{
    margin-bottom: -13px;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: 85px;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}
/* img{
    height: 10vh;
    margin-bottom: -28px;
    margin-top: -28px;
    margin-left: -10px;
    padding: 5px;
} */    
.input-group-prepend span{
width: 42px;
border-radius: 10px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
top: 10px;
position: relative;
color: white;
}

.links a{
margin-left: 4px;
}
#message{
    position: relative;
    color: #FFC312;
    padding: 5px;
    bottom: 10px;
    font-size: 25px;
}
.card-footer{
    position: relative;
    bottom: 32px;
    border: none;

}
/* .kol img{
    height: 10vh;
    margin-bottom: -18px;
    margin-top: -18px;
    margin-left: -2px;
    margin-right: -2px;
} */
.forms{
    display: none; 
}
.input-group .form-control{
    position: relative;
    bottom: 34px;
    width: 32rem !important;
    left: 42px;
}
.cartImg{
    display: none;
}

.h-100{
    height: 100%;
    padding-bottom: 12rem;
}
.navbar-nav{
    position: relative;
    left: 35%;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    flex-direction: column;
}
main{
    padding-bottom: 12.5rem;
    padding-top: 2rem;
}

/* .logo{
    height: 45px;
    position: relative;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    padding: 5px;
} */
