<div class="head">
    <h1>M.Y.S.O - About us</h1>
</div>
<div class="text">
    <p>Welcome to M.Y.S.O, the best sports brands shop.</p>
    <p>The company was founded in 2022 By 4 of the Best web programmers to ever exist:</p>
    <p>May Sheich</p>
    <p>Yuval Saybak</p>
    <p>Eliad Badin aka Sasi</p>
    <p>Ori Kanner</p>
    <p>M.Y.S.O now has 1 branch in Israel, with expectation to evolve to European market at 1/1/23, with a branch to be opened at London, UK.</p>
    <p></p>
</div>