<head>
    <link rel="stylesheet" href="/public/css/cart2.css">
</head>
<div class="small-container cart-page">
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>SubTotal</th>
        </tr> 

        <tr>
            <td>
                <div class="cart-info">
                    <img src="// pull from DB">
                    <div>
                        <p>description (from DB)</p>
                        <small>price: (from DB)</small>
                        <br>
                        <a href="">Remove product</a>
                    </div>
                </div>
            </td>
            <td>
                <input type="number" value="1">
            </td>
            <td>
                <% for (let index = 0; index < cart.length; index++) {
                    console.log(cart[index]);
                }  %> 
                product price * Quantity
            </td>
        </tr>
    </table>
</div>
