<div class="container">
  <u><h1 class="text-center">Create New Product:</h1></u>
<form action="/api/create_product" method="POST">
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <input name="Product_Name" type="text" id="form6Example1" class="form-control" />
        <label class="form-label" for="form6Example1">Product name</label>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <input name="category" type="text" id="form6Example2" class="form-control" />
        <label class="form-label" for="form6Example2">Category</label>
      </div>
    </div>
  </div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <input name="rating" type="number" id="form6Example3" class="form-control" />
    <label class="form-label" for="form6Example3">Rating</label>
  </div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <input name="image" type="text" id="form6Example4" class="form-control" />
    <label class="form-label" for="form6Example4">Image URL</label>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input name="quantity" type="number" id="form6Example5" class="form-control" />
    <label class="form-label" for="form6Example5">Quantity</label>
  </div>

  <!-- Number input -->
  <div class="form-outline mb-4">
    <input name="price" type="number" id="form6Example6" class="form-control" />
    <label class="form-label" for="form6Example6">Price</label>
  </div>

  <!-- Message input -->
  <div class="form-outline mb-4">
    <textarea name="description" class="form-control" id="form6Example7" rows="4"></textarea>
    <label class="form-label" for="form6Example7">Description</label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Create </button>
</form>
</div>