
<section id="hero">
  <h4>Trade-in-offer</h4>
  <h2>Super value deals</h2>
  <h1>On all products</h1>
  <p>Save more with coupons & up to 70% off! </p>
  <a href="/shop"><button>Shop Now</button></a>
</section>

<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="/img/feature-img1.jpg" alt="" >
        <h6>Free Shipping</h6>
    </div>
</section>





















<div id="map"></div>
<script>
const Center = { lat:32.030552, lng: 34.758286 };
const BatyamShop = { lat: 32.016580, lng: 34.750212 };
const TelAvivShop = { lat: 32.040052, lng: 34.752212 };
const HolonShop = { lat: 32.020364, lng: 34.776494 };


  function initMap() {

     
    var map = new google.maps.Map(document.getElementById("map"), {
      zoom: 13,
      center: Center,
    });
     
    var marker1 = new google.maps.Marker({
      position: BatyamShop,
      map: map,
    });

    var marker2 = new google.maps.Marker({
      position: TelAvivShop,
      map: map,
    });

    var marker3 = new google.maps.Marker({
      position: HolonShop,
      map: map,
    });
  }

  window.initMap = initMap;
</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP7uy1RAI6EFoBYx11EJK1_DhU2syTKcQ&callback=initMap&v=weekly"
  defer></script>

