<h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime natus doloremque porro quam, omnis mollitia harum </h1>

<iframe
  width="400"
  height="250"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCP7uy1RAI6EFoBYx11EJK1_DhU2syTKcQ
    &q=קניון עופר רחובות,Israel">
</iframe>