<h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime natus doloremque porro quam, omnis mollitia harum</h1>





















<div id="map"></div>

<script>
  function initMap() {
     
    const RishonShop = { lat: 31.990756, lng: 34.774752 };
     
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 15,
      center: RishonShop,
    });
     
    const marker = new google.maps.Marker({
      position: RishonShop,
      map: map,
    });
  }

  window.initMap = initMap;
</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP7uy1RAI6EFoBYx11EJK1_DhU2syTKcQ&callback=initMap&v=weekly"
  defer></script>

