
<section id="hero">
  <h4>Trade-in-offer</h4>
  <h2>Super value deals</h2>
  <h1>On all products</h1>
  <p>Save more with coupons & up to 70% off! </p>
  <a href="/shop"><button>Shop Now</button></a>
</section>

<section id="feature" class="section-p1">
  <div class="fe-box">
    <img src="/img/features/f1.jpg" alt="">
    <h6>Free Shipping</h6>
  </div>
  <div class="fe-box">
    <img src="/img/features/f2.jpg" alt="">
    <h6>Online Order</h6>
  </div>
  <div class="fe-box">
    <img src="/img/features/f3.jpg" alt="">
    <h6>Save Money</h6>
  </div>
  <div class="fe-box">
    <img src="/img/features/f4.jpg" alt="">
    <h6>Promotions</h6>
  </div>
  <div class="fe-box">
    <img src="/img/features/f5.jpg" alt="">
    <h6>Happy Sell</h6>
  </div>
  <div class="fe-box">
    <img src="/img/features/f6.jpg" alt="">
    <h6>F24/7 Support</h6>
  </div>
</section>

<section id="product1" class="section-p1">
  <h2>Features Products</h2>
  <p>Summer Collection New Morden Design</p>
  <div class="pro-container">
    <div class="pro">
      <img src="img/products/p1.jpg" alt="">
      <div class="des">
        <span>Nike</span>
        <h5>Air Jordan 1</h5>
        <div class="star">
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
        </div>
        <h4>$221</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart"></i></a>
    </div>
    <div class="pro">
      <img src="img/products/p2.jpg" alt="">
      <div class="des">
        <span>Nike</span>
        <h5>Air Jordan 2</h5>
        <div class="star">
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
        </div>
        <h4>$179</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart"></i></a>
    </div>
    <div class="pro">
      <img src="img/products/p3.jpg" alt="">
      <div class="des">
        <span>Nike</span>
        <h5>Air Jordan 3</h5>
        <div class="star">
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
        </div>
        <h4>$112</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart"></i></a>
    </div>
    <div class="pro">
      <img src="img/products/p4.jpg" alt="">
      <div class="des">
        <span>Nike</span>
        <h5>Air Jordan 4</h5>
        <div class="star">
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
        </div>
        <h4>$119</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart"></i></a>
    </div>
    <div class="pro">
      <img src="img/products/p5.jpg" alt="">
      <div class="des">
        <span>Nike</span>
        <h5>Air Jordan 5</h5>
        <div class="star">
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
        </div>
        <h4>$242</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart"></i></a>
    </div>
    <div class="pro">
      <img src="img/products/p6.jpg" alt="">
      <div class="des">
        <span>Nike</span>
        <h5>Air Jordan 6</h5>
        <div class="star">
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
        </div>
        <h4>$214</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart"></i></a>
    </div>
    <div class="pro">
      <img src="img/products/p7.jpg" alt="">
      <div class="des">
        <span>Nike</span>
        <h5>Air Jordan 7</h5>
        <div class="star">
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
        </div>
        <h4>$153</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart"></i></a>
    </div>
    <div class="pro">
      <img src="img/products/p8.jpg" alt="">
      <div class="des">
        <span>Nike</span>
        <h5>Air Jordan 8</h5>
        <div class="star">
          <i class="fas fa-start"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg>
          </i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
          <i class="fas fa-start"></i>
        </div>
        <h4>$112</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
      </i></a>
    </div>
  </div>
</section>

<section id="banner" class="section-m1">
  <h4>Repair Services</h4>
  <h2>Up to <span>70% Off</span> - All Sports Shoes</h2>
  <button class="normal">Explore More</button>
</section>























<div id="map"></div>
<script>
const Center = { lat:32.030552, lng: 34.758286 };
const BatyamShop = { lat: 32.016580, lng: 34.750212 };
const TelAvivShop = { lat: 32.040052, lng: 34.752212 };
const HolonShop = { lat: 32.020364, lng: 34.776494 };


  function initMap() {

     
    var map = new google.maps.Map(document.getElementById("map"), {
      zoom: 13,
      center: Center,
    });
     
    var marker1 = new google.maps.Marker({
      position: BatyamShop,
      map: map,
    });

    var marker2 = new google.maps.Marker({
      position: TelAvivShop,
      map: map,
    });

    var marker3 = new google.maps.Marker({
      position: HolonShop,
      map: map,
    });
  }

  window.initMap = initMap;
</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP7uy1RAI6EFoBYx11EJK1_DhU2syTKcQ&callback=initMap&v=weekly"
  defer></script>

