<section class="container sproduct my-5 pt-5">
    <div class="row mt-5">
        <div class="col-lg-5 col-md-12 col-12">
            <img class="img-fluid w-100 pb-1" src="img/s1.jpg" id="MainImg" alt="">

            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="img/s1.jpg" width="110px" height="70px" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="img/s2.jpg" width="110px" height="70px" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="img/s3.jpg" width="110px" height="70px" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="img/s4.jpg" width="110px" height="70px" class="small-img" alt="">
                </div>
            </div>
        </div>
   
    <div class="col-lg-6 col-md-12 col-12">
        <h6>Home / Shoes</h6>
        <h3 class="py-4">"Product Name"</h3>
        <h2>$139.00</h2>
        <select class="my-3">
            <option>Select Size</option>
            <option>39</option>
            <option>40</option>
            <option>41</option>
            <option>42</option>
            <option>43</option>
            <option>44</option>
            <option>45</option>
        </select>
        <input type="number" value="1">
        <button class="buy-btn">Add to Cart</button>
        <h4 class="mt-5 mb-5">Product Details</h4>
        <span>The Women’s Nike Air Max 1 “Mini Symbols” emerges in a premium, multi-color ensemble covered in miniature symbols
            This sneaker features an arrangement of leather, synthetic Hyperfuse and mesh materials coming together throughout the upper in a refreshing layout
            Shades of teal, purple, pink and blue for the Hyperfuse panels feature glossy patterns of dots, stars and other symbols for a unique look
            An off-white midsole and translucent purple rubber outsole complete this intriguing take on the classic running shoe</span>
    </div>
    </div>
</section>

<!-- <scripts>
    var MainImg = document.gerElementById('MainImg');
    var smallimg = document.getElementsByClassName('small-img');

    smallimg[0].onclick = function(){
        MainImg.src = smallimg[0].src;
    }

    smallimg[1].onclick = function(){
        MainImg.src = smallimg[1].src;
    } 
    smallimg[2].onclick = function(){
        MainImg.src = smallimg[2].src;
    } 
    smallimg[3].onclick = function(){
        MainImg.src = smallimg[3].src;
    }
</scripts> -->
